<!DOCTYPE html>
<html lang="en">
{% include '/Users/yana/Documents/GitHub/Run_reservation/templates/includes/header.html' %}

<body>
<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active">Run details</a>
            <a class="nav-item nav-link" href="/">Runs</a>
            <a class="nav-item nav-link" href="/login/">Log in</a>
        </div>
    </div>
</nav>
<!-- Nav -->

<!-- Run Details -->
<div class="card">
    <div class="card-body">
        <h3>Run name: {{ run.run_name }}</h3>
        <p>City: {{ run.run_city }}</p>
        <p>Distance: {{ run.run_distance }}</p>
        <p>Term: {{ run.run_date }}</p>
        <p>Registration:
            {% if run.active_registration %}
                <span style="color:green;">&#9745;</span>
            {% else %}
                <span style="color:red;">&#9746;</span>
            {% endif %}
        </p>

        <p><a href="/registration/{{ run.id }}/">Enroll</a></p>
    </div>
</div>

<!-- Run Details -->


<!-- Footer -->
{% include '/Users/yana/Documents/GitHub/Run_reservation/templates/includes/footer.html' %}
<!-- Footer -->
</body>
</html>
