<!DOCTYPE html>
<html lang="en">
{% include '/Users/yana/Documents/GitHub/Run_reservation/templates/includes/header.html' %}

<body>
<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link"> Registration </a>
            <a class="nav-item nav-link" href="/">Runs list</a>
            <a class="nav-item nav-link" href="/user_account/">Log in</a>
        </div>
    </div>
</nav>
<!-- Nav -->

<!-- Form -->
<div class="card">
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="runner_name">Name</label>
                <input type="text" class="form-control" name="runner_name">
                <label for="runner_surname">Surname</label>
                <input type="text" class="form-control" name="runner_surname">
                <label for="date_of_birth">Date of birth</label>
                <input type="date" class="form-control" name="runner_date_of_birth">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="runner_email">
                <label for="phone">Telephon number</label>
                <input type="number" class="form-control" name="runner_phone">
{#                registration_payment#}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>




<!-- Form -->
{% include '/Users/yana/Documents/GitHub/Run_reservation/templates/includes/footer.html' %}
<!-- Footer -->

</body>
</html>
