<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Private account</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{#    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
{#        <div class="navbar-nav">#}
{#            <a class="nav-item nav-link active" href="/">List of all runs<span class="sr-only">(current)</span></a>#}
{#            <a class="nav-item nav-link" href="/run/add/">Add new run</a>#}
{#        </div>#}
{#    </div>#}
</nav>
<!-- Nav -->

<!-- table -->
<table class="table">
    <thead>
    <tr class="d-flex">
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-2">Run</th>
        <th scope="col" class="col-1">City</th>
        <th scope="col" class="col-1">Term</th>
        <th scope="col" class="col-2">Distance</th>
        <th scope="col" class="col-2">Payment</th>
    </tr>
    </thead>
    <tbody>
{#        run_enroll_id = models.ForeignKey(Main, on_delete=models.CASCADE)#}
{#    name_pr = models.CharField(max_length=25)#}
{#    surname_pr = models.CharField(max_length=25)#}
{#    date_of_birth_pr = models.DateField()#}
{#    email = models.CharField(max_length=25)#}
{#    gender = models.CharField(max_length=25)#}
{#    number = models.IntegerField()#}


    {% for run in run_list %}
        <tr class="d-flex">
            <th scope="row" class="col-1">{{ run.run_enroll_id }}</th>
            <td class="col-2">
                <p>{{ run.name_pr }}</p>
            </td>
            <td class="col-1">
                <p>{{ run.surname_pr }}</p>
            </td>
            <td class="col-1">
                <p>{{ run. }}</p>
            </td>
            <td class="col-1">
                <p>{{ run.distance }}</p>
            </td>
            <td class="col-1">
                <p>{{ run.payment }}</p>
            </td>
            {% if run.payment is True %}
                <td class="col-2" style="color:green;">Paid</td>
            {% else %}
                <td class="col-2" style="color:red;">Wait</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- table -->


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">Pink Pig</span>
    </div>
</footer>
<!-- Footer -->
</body>
</html>
